<div class="content" role="main">
  <div class="container-fluid container">
    <div class="row">
      <div class="col-md-4">
        <br>
        <div class="box">
          <h3 class="text-center">{{title}}</h3>
          <hr>
          <table style="margin:  auto;">
            <tbody>
              <tr>
                <td><input value={{x1}} readonly /></td>
                <td>+</td>
                <td><input value={{y1}} readonly /></td>
                <td> = <input tabindex="1" class="user-input" type="number" [(ngModel)]="x1y1" /></td>
              </tr>
              <tr>
                <td>+</td>
                <td></td>
                <td>+</td>
                <td></td>
              </tr>
              <tr>
                <td><input value={{x2}} readonly /></td>
                <td>-</td>
                <td><input value={{y2}} readonly /></td>
                <td> = <input tabindex="2" class="user-input" type="number" [(ngModel)]="x2y2" /></td>
              </tr>
              <tr>
                <td> = <br><input tabindex="3" class="user-input" type="number" [(ngModel)]="x1x2" /></td>
                <td></td>
                <td> = <br><input tabindex="4" class="user-input" type="number" [(ngModel)]="y1y2" /></td>
                <td>
                  <br>
                  &nbsp; <button tabindex="5" class="btn btn-sm btn-success" (click)="calculateData()">
                    Solve</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>